body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

hr {
    background-color: #7d97ad;
    border-color: #7d97ad;
    height: 2px;
}

.container {
    max-width: 80%;
    overflow: hidden;
}

.header-text {
    margin-top: 20px;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 300;
}

.title-super {
    font-size: 40px;
}

.title-logo {
    margin-top: 20px;
    max-width: 100px;
    max-height: 100px;
}

.project-image {
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.main-image {
    max-height: 75vh;
    width: 100%;
    object-fit: contain;
}






